.Rhistory
.Rapp.history
.RData
.Ruserdata
.Renviron
.httr-oauth
.DS_Store

.Rproj.user/
*.Rproj.user

*-Ex.R
/*.tar.gz
/*.Rcheck/
/uafR*_export*/
/uafR*_export.xlsx

vignettes/*.html
vignettes/*.pdf
*_cache/
/cache/
*.utf8.md
*.knit.md

inst/doc
revdep/
/doc/
/Meta/
docs/

Rplots.pdf
/student_bundle/
/uafR_student_bundle_*.zip
training/**/*.aux
training/*.bbl
training/*.blg
training/*.fdb_latexmk
training/*.fls
training/*.log
training/*.out
training/*.toc
training/*.synctex.gz
